body{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
  
    
}
.box1{
    background-color:bisque ;
    padding:5vh;
    padding: 5vw;
    border: 10px solid cadetblue;
    text-align: center;
}
.box2{
    background-color:rgb(223, 145, 51) ;
    padding:5vh;
    padding: 5vw;
    border: 10px solid cadetblue;
    text-align: center;

}

    
